
body {
    color: #eeeeec;
    background: rgb(85,87,83);
    background: linear-gradient(0deg, rgba(75,77,73,1) 35%, rgba(52,52,52,1) 100%); 
}

body > footer {
	border-top: 1mm solid #cc0000;
}
/* list pages */
html:not(.home) > body > main.list.intro > article:not(:first-of-type),
html:not(.home) > body > main.list:not(.intro) > article {
	border: 1mm solid #cc0000;
}
article > header {
	border-bottom: .5mm solid #cc0000;
}

/* menu */
nav a {
    color: #eeeeec;
}
nav li.current > a,
nav a:hover {
    color: #eeeeec;
}
/* tables */
table > tbody > tr:nth-child(odd) {
	background: #6886a01e;
}
