
body {
    color: #eeeeec;
    background: #2e3436;
}
body > header {
	border-bottom: 1mm solid #cc0000;
}
body > main {
	background: linear-gradient(#555753, #2e3436)
}
body > footer {
	border-top: 1mm solid #cc0000;
}
/* list pages */
html:not(.home) > body > main.list.intro > article:not(:first-of-type),
html:not(.home) > body > main.list:not(.intro) > article {
	border: 1mm solid #cc0000;
	background: linear-gradient(#555753, #2e3436)
}
html:not(.home) > body > main.list.intro > article:not(:first-of-type):hover,
html:not(.home) > body > main.list:not(.intro) > article:hover {
	background: linear-gradient(#2e3436, #555753)
}
article > header {
	border-bottom: .5mm solid #cc0000;
}

/* menu */
nav a {
    color: #eeeeec;
}
nav li.current > a,
nav a:hover {
    color: #eeeeec;
}
/* tables */
table > tbody > tr:nth-child(odd) {
	background: #6886a01e;
}
