@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Ubuntu+Mono:400,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 14pt;
}
code {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
}
h1 {
    font-weight: 400;
}
/* links */
a {
    color: #ef2929;
    text-decoration: unset;
    font-weight: 400;
}
a:hover {
    text-decoration: underline;
}
