<script type="application/ld+json">
	{
		"@id": "https://payfunc.com",
		"@context": "https://schema.org",
		"@type": "Organization",
		"url": "https://payfunc.com",
		"logo": "https://payfunc.com/logo/payfunc-l1.svg",
		"image": "https://payfunc.com/home/banner-developer/max-duzij-qAjJk-un3BI-unsplash.jpg",
		"name": "PayFunc",
		"legalName": "Nordic Transaction Partner AB",
		"description": "PayFunc provides easy to integrate solutions for payments and monetary transactions for your web and app based needs.",
		"address": {
			"@type": "PostalAddress",
			"addressLocality": "Uppsala",
			"addressCountry": "SE",
			"postalCode": "753 30",
			"streetAddress": "Salagatan 18A"
		},
		"contactPoint": {
			"@type": "ContactPoint",
			"telephone": "+46-10-188 11 08",
			"contactType": "Customer service"
		},
		"sameAs": ["https://twitter.com/payfuncapi","https://www.linkedin.com/company/payfunc","https://github.com/payfunc/"],
		"founder": [
			{
				"@type": "Person",
				"familyName": "Eerola",
				"givenName": "Päivö",
				"worksFor": "https://payfunc.com",
				"jobTitle": "Chairman of the Board, Founder",
				"alumniOf": "https://www.univaasa.fi/en",
				"image": "https://media-exp1.licdn.com/dms/image/C4D03AQHoo76cEM2QQg/profile-displayphoto-shrink_200_200/0?e=1584576000&v=beta&t=H663ItiKta2eqF34WmGZwmJHpuEAKWw2xoe9oFRU4uY",
				"gender": "http://schema.org/Male",
				"sameAs": ["https://twitter.com/paivoe","https://linkedin.com/in/paivoeerola/"]
			},
			{
				"@type": "Person",
				"familyName": "Wandt",
				"givenName": "Mikael",
				"worksFor": "https://payfunc.com",
				"jobTitle": "Board Member, Founder",
				"alumniOf": "https://www.su.se/english/",
				"image": "https://media-exp1.licdn.com/dms/image/C4D03AQFodeNgfVKItg/profile-displayphoto-shrink_200_200/0?e=1584576000&v=beta&t=aTtvqfp6TQcbSViKPwIiD8DNhSp7Zfs7Tm7XU36eOvo",
				"gender": "http://schema.org/Male",
				"sameAs": ["https://twitter.com/paivoe","https://linkedin.com/in/mikaelwandt/"]
			},
			{
				"@type": "Person",
				"familyName": "Mika",
				"givenName": "Simon",
				"worksFor": "https://payfunc.com",
				"jobTitle": "CTO, Founder",
				"alumniOf": "https://www.uu.se/en/",
				"image": "https://media-exp1.licdn.com/dms/image/C5603AQHqN8E0GzxN-w/profile-displayphoto-shrink_200_200/0?e=1584576000&v=beta&t=jG4Anf2ztATruUFEzYuuXySTph9vksR1vPZFbUJUL-A",
				"gender": "http://schema.org/Male",
				"sameAs": ["https://twitter.com/simonjmika","https://linkedin.com/in/simonmika/", "https://simonmika.com/", "https://github.com/simonmika"]
			}
		]
	}
</script>
<link rel="manifest" href='{{ "/manifest.json" | absURL }}'>
<meta name="msapplication-TileColor" content="##1e1e1e">
<meta name="theme-color" content="##1e1e1e">
